doctype html
html
  head
    style. 
        body{
            text-align:center;
            background-color: lightblue;
        }
        div{
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            width: 200px;
            height: 200px;
            display: inline-block;
            margin-top: 10%;
        }
  body
    div    
        h1 Select a date
        form(action='/addtime',method='post')
            input(type='date', name='day')
            br
            br
            label(for='time') Choose a Timing
            br
            br
            select#cars(name='time')
                option(value='00:00-1:00') 00:00-1:00 
                option(value='1:00-2:00') 1:00-2:00 
                option(value='2:00-3:00') 2:00-3:00
                option(value='3:00-4:00') 3:00-4:00
                option(value='4:00-5:00') 4:00-5:00
                option(value='5:00-6:00') 5:00-6:00
                option(value='6:00-7:00') 6:00-7:00
                option(value='7:00-8:00') 7:00-8:00
                option(value='8:00-9:00') 8:00-9:00
                option(value='9:00-10:00') 9:00-10:00
                option(value='10:00-11:00') 10:00-11:00
                option(value='11:00-12:00') 11:00-12:00
                option(value='12:00-13:00') 12:00-13:00
                option(value='13:00-14:00') 13:00-14:00
                option(value='14:00-15:00') 14:00-15:00
                option(value='15:00-16:00') 15:00-16:00
                option(value='16:00-17:00') 16:00-17:00
                option(value='17:00-18:00') 17:00-18:00
                option(value='18:00-19:00') 18:00-19:00
                option(value='19:00-20:00') 19:00-20:00
                option(value='20:00-21:00') 20:00-21:00
                option(value='21:00-22:00') 21:00-22:00
                option(value='22:00-23:00') 22:00-23:00
                option(value='23:00-00:00') 23:00-00:00
            br
            br
            input(type='submit')